<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}

    {{ if not (.Params.isFullPage) }}
      <div id="wrapper">
          {{ partial "site-intro" . }}
          <main id="site-main">
            <!-- bloque intro solo en Home-->
            {{ if .IsHome }}
               {{ partial "site-introduction" . }}
            {{ end }}
            {{ block "main" . }}{{ end }}
          </main>
          {{ partial "site-sidebar" . }}
          {{ partial "site-footer" . }}
          {{ partial "scripts" . }}
     </div>
    {{ else }}
       {{ block "main" . }}{{ end }}
       {{ partial "site-footer" . }}
       {{ partial "scripts" . }}
    {{ end }}
    {{ if .IsHome }}
      <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
        data-id="vidaeficiente" data-description="Invítame a un café!" 
        data-message="Gracias por tu visita, y por invitarme a un café!" 
        data-color="#FF813F" data-position="left" data-x_margin="18" data-y_margin="18">
      </script>
  {{ end }}
  
  </body>
</html>
