{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1><a href="{{ .RelPermalink }}">{{ i18n "contact" }}</a></h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </div>
    </header>
      <div id="content">
        <p style="text-align: justify;">Si quieres contactar conmigo para cualquier asunto, ya sean sugerencias, propuestas u ofensas, puedes hacerlo a través la siguiente dirección:</p>
          <blockquote><p><a href="mailto:vidaeficiente.es@gmail.com">vidaeficiente.es@gmail.com</a></p></blockquote>
          <p style="text-align: justify;">... y muchas gracias por pasarte por aquí !!</p>

    </div>
  </article>
{{ end }}
