{{ define "main" }}
  {{ if .Params.isFullPage }}
  <article class="fullpost">
  {{ else }}
  <article class="post">
  {{ end }}
    {{ .Render "header" }}
    <div class="content">
      {{ .Render "featured" }}
      {{ .Render "stats" }}
      {{ .Content }}
    </div>
    {{ if not ( eq .Params.socialsharing false) }}
    <div id="socnet-share" style="justify-content: center;">
      {{ partial "share-buttons" . }}
    </div>
    {{ end }}
    <!--
    <footer>
      {{ .Render "stats" }}
    </footer>
    -->
  </article>
  {{ if not ( eq .Params.comments false) }}
    {{ .Render "comments" }}
  {{ end }}
  {{ if not ( eq .Params.pagination false) }}
  <div class="pagination">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.RelPermalink }}" class="button left"><span>{{ .NextInSection.Title }}</span></a>
    {{ end }}
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.RelPermalink }}" class="button right"><span>{{ .PrevInSection.Title }}</span></a>
    {{ end }}
  </div>
  {{ end }}
{{ end }}
